/* x Give the `header` a dark background color and choose a light  color for the text.
-  x Center the text in the `header`.
-  x Give the `main` a light grey background color.
-  x Look up the CSS `background-image` property to learn how to use the provided `record.png` as the background image on your page with a relative path.
-  x Look up CSS `background-repeat` to learn how to fill the body of the page with a repeating image.
-  x Look up CSS `margin` and `padding`. 
-  x Give the `body` a margin of `0`. (This removes the whitespace around the edges of the page.) 
-  x Give the `main` padding of `1em`. (Curious about `em`? Look up CSS units.) */

  header {
    background-color: darkcyan;
    color: lightblue;
    text-align: center;

  }

  main {
    background-color: lightslategray;
    padding: 1em;
  }

   body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0px;
   }